Source: ukui-desktop-environment
Section: x11
Priority: optional
Maintainer:  Kylin Team <ukui@kylinos.cn>
Uploaders: Mike Gabriel <sunweaver@debian.org>,
           John Paul Adrian Glaubitz <glaubitz@physik.fu-berlin.de>,
           Stefano Karapetsas <stefano@karapetsas.com>,
           Vangelis Mouhtsis <vangelis@gnugr.org>,
           lijianfeng <lijianfeng@kylinos.cn>,
Build-Depends: debhelper (>= 9),
               lsb-release,
Standards-Version: 3.9.8
Homepage: http://www.ukui.org/

Package: ukui-desktop-environment-core
Architecture: all
Depends: caja (>= 1.16.0),
         gvfs-backends,
         gvfs-bin,
         marco (>= 1.16.0),
         kylin-backgrounds (>= 1.16.0),
         kylin-control-center (>= 1.16.0),
         kylin-desktop (>= 1.16.0),
         kylin-menus (>= 1.16.0),
         notification-daemon,
         kylin-panel (>= 1.16.0),
         kylin-polkit (>= 1.16.0),
         kylin-session-manager (>= 1.16.0),
         kylin-settings-daemon (>= 1.16.0),
         gnome-terminal (>= 1.16.0),
         kylin-theme,
         ${misc:Depends},
Breaks: ukui-desktop-environment (<< 1.8.0),
Conflicts: mate-conf,
           mate-conf-editor,
           mate-dialogs,
           mate-dialogs-common,
           mate-dialogs-dbg,
           mate-doc-utils,
           mate-doc-utils-gnome,
           mate-keyring,
           mate-gnome-main-menu-applet,
Replaces: mate-conf (<< 1.8.0),
          mate-conf-editor (<< 1.8.0),
          mate-dialogs (<< 1.8.0),
          mate-dialogs-common (<< 1.8.0),
          mate-dialogs-dbg (<< 1.8.0),
          mate-doc-utils (<< 1.8.0),
          mate-doc-utils-gnome (<< 1.8.0),
          mate-keyring (<< 1.8.0),
          mate-gnome-main-menu-applet (<< 1.9.0),
Description: UKUI Desktop Environment (essential components, metapackage)
 The UKUI Desktop Environment is the continuation of MATE. It provides an
 intuitive and attractive desktop environment using traditional metaphors for
 Linux and other Unix-like operating systems.
 .
 UKUI is under active development to add support for new technologies while
 preserving a traditional desktop experience.
 .
 This package depends on a very basic set of programs that are necessary to
 start a UKUI desktop environment session. The set of programs includes the
 the UKUI file manager (Peony), the KYLIN 
 control center and a limited set of other obligatory UKUI desktop components.

Package: ukui-core
Architecture: all
Depends: ukui-desktop-environment-core (= ${binary:Version}),
         ${misc:Depends},
Description: UKUI Desktop Environment (essential components, dummy package)
 The UKUI Desktop Environment is the continuation of MATE. It provides an
 intuitive and attractive desktop environment using traditional metaphors for
 Linux and other Unix-like operating systems.
 .
 UKUI is under active development to add support for new technologies while
 preserving a traditional desktop experience.
 .
 This package (ukui-core) is a dummy package and can be safely removed.

Package: ukui-desktop-environment
Architecture: all
Depends: ukui-desktop-environment-core (= ${binary:Version}),
         ${misc:Depends},
Provides: ukui,
Recommends: evince,
            desktop-base | ubuntu-wallpapers,
            file-roller,
            eog,
            ffmpegthumbnailer,
            galculator,
            kylin-media (>= 1.16.0),
            notification-daemon,
            kylin-power-manager (>= 1.16.0),
            kylin-screensaver (>= 1.16.0),
            kylin-utils (>= 1.16.0),
            gedit,
Suggests: mail-reader | icedove,
          network-manager-gnome,
          x-www-browser | iceweasel,
Description: UKUI Desktop Environment (metapackage)
 The UKUI Desktop Environment is the continuation of MATE. It provides an
 intuitive and attractive desktop environment using traditional metaphors for
 Linux and other Unix-like operating systems.
 .
 UKUI is under active development to add support for new technologies while
 preserving a traditional desktop experience.
 .
 This package installs the standard set of applications that are
 part of the official UKUI release.
 .

Package: ukui-desktop-environment-extras
Architecture: all
Provides: ukui-extras,
Depends: ukui-desktop-environment (= ${binary:Version}),
         ${misc:Depends},
Recommends: blueman,
            dconf-editor,
            gnome-keyring,
            mozo (>= 1.16.0),
            yelp,
Description: UKUI Desktop Environment (extra components, metapackage)
 The UKUI Desktop Environment is the continuation of MATE. It provides an
 intuitive and attractive desktop environment using traditional metaphors for
 Linux and other Unix-like operating systems.
 .
 UKUI is under active development to add support for new technologies while
 preserving a traditional desktop experience.
 .
 This package installs an extra set of UKUI components that are
 also part of the official UKUI release.

Package: ukui-desktop-environment-extra
Architecture: all
Depends: ukui-desktop-environment-extras (= ${binary:Version}),
         ${misc:Depends},
Description: UKUI Desktop Environment (extra components, dummy package)
 The UKUI Desktop Environment is the continuation of GNOME 2. It provides an
 intuitive and attractive desktop environment using traditional metaphors for
 Linux and other Unix-like operating systems.
 .
 UKUI is under active development to add support for new technologies while
 preserving a traditional desktop experience.
 .
 This package (ukui-desktop-environment-extra) is a dummy package and can be
 safely removed.
